@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --font-family: 'Manrope', sans-serif;

    --section-bg: #c7cce1;
    --color-footer: #B6BCC6;
    --color-normal: #40739e;
    --color-text: #2F426C;
    --color-subtext: #b1b7c3;
    --color-white: #f5f6fa;

}