.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    padding: 4rem 10rem;
}

.back {
    color: var(--color-normal);
    font-size: 20px;
}

.back a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.article_container {
    margin-top: 2rem;
}

.info {
    display: flex;
    color: var(--color-subtext);
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 1rem;
}

.author {
    margin-right: 1rem;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 550px) {
    .container {
        padding: 2.5rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 20px;
    }

    .author {
        margin: 0;
    }
}