.scenes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.scenes-info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scenes-info h1 {
    font-family: var(--font-family);
    color: var(--color-normal);
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.04em;
    text-transform: capitalize;

    margin: 2rem 0;
}

.scenes-info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.recommand-card {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 230px;

    margin: 1rem;
}

.recommand-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.recommand-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.recommand-card-info h3 {
    color: var(--color-text);
    font-weight: 500;
    letter-spacing: -0.04em;
}

.recommand-card-info p {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 12px;
    line-height: 16px;

    margin-top: 1.5rem;
}

.scenes-cover {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.scenes-cover img {
    width: 80%;
}

@media screen and (max-width: 1150px) {
    .scenes {
        flex-direction: column;
    }

    .scenes-cover {
        margin: 5rem 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .scenes {
        padding: 4rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .scenes {
        padding: 4rem 2rem;
    }

    .scenes-info {
        min-width: 100%;
    }
}