.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--color-footer);
    padding: 0.5rem 0;
}

.footer p {
    color: var(--color-text);
}