.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
    border-bottom: solid 1px var(--color-footer);
}

.navbar_links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_links_logo {
    margin-right: 2rem;
}

.navbar_links_logo img {
    width: 200px;
}

.navbar_links_container {
    display: flex;
    flex-direction: row;
}

.navbar_login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_links_container p,
.navbar_login p,
.navbar_menu_container p {
    font-family: var(--font-family);
    color: var(--color-normal);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.navbar_menu {
    margin-left: 1rem;

    display: none;
    position: relative;
    color: var(--color-normal);
}

.navbar_menu svg {
    cursor: pointer;
}

.navbar_menu_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.navbar_menu_container_links {
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar_menu_container p {
    margin: 1rem;
}

.navbar_menu_container_links_login {
    display: none;
}

@media screen and (min-width: 2000px) {

    .navbar_links_container p,
    .navbar_login p,
    .navbar_menu_container p {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
    }

    .navbar_links_logo img {
        width: 400px;
    }
}

@media screen and (max-width: 1150px) {
    .navbar_links_container {
        display: none;
    }

    .navbar_menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }

    .navbar_login {
        display: none;
    }

    .navbar_menu_container {
        top: 20px;
    }

    .navbar_menu_container_links_login {
        display: block;
    }
}