.restaurants_info {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    min-width: 500px;
    padding-right: 2rem;
}

.restaurants_images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
}

.restaurants_images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.restaurants_images_container::-webkit-scrollbar {
    display: none;
}

.restaurants_images_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}

.restaurants_image_icon {
    position: absolute;
    color: var(--color-normal);
    font-size: 2rem;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.restaurants_images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.restaurants_images_card:hover img {
    opacity: .35;
}

.restaurants_images_card:hover .restaurants_image_icon {
    opacity: 1;
}

.restaurants_images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    position: absolute;
    bottom: 50%;
}

.restaurants_arrow_icon {
    color: var(--color-normal);
    font-size: 3rem;
    cursor: pointer;
    background: var(--color-bg);
    border-radius: 5px;
}

.restaurants_arrow_icon:hover {
    color: var(--color-white);
}

@media screen and (min-width: 2000px) {

    .restaurants_info {
        min-width: 800px;
        padding-right: 4rem;
    }

    .restaurants_images_card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .restaurants_info {
        padding: 4rem 0;
    }

    .restaurants_images {
        max-width: 100%;
        padding: 4rem 0;
    }
}

@media screen and (max-width: 700px) {
    .restaurants_info {
        padding: 2rem 0;
    }

    .restaurants_images {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 650px) {
    .restaurants_info {
        min-width: 100%;
    }

    .restaurants_images_card {
        min-width: 240px;
        height: 320px;
    }
}